@model AnahiQuezadaBurgerTarea.Models.AQBurger

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AQBurger</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AQName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AQName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AQWithCheese)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AQWithCheese)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AQPrecio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AQPrecio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AQBurgerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
