@model IEnumerable<AnahiQuezadaBurgerTarea.Models.AQBurger>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AQName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AQWithCheese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AQPrecio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AQName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AQWithCheese)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AQPrecio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AQBurgerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AQBurgerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AQBurgerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
