@model IEnumerable<AnahiQuezadaBurgerTarea.Models.AQPromo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AQDescripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AQFechaPromo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AQBurger)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AQDescripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AQFechaPromo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AQBurger.AQName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AQPromoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AQPromoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AQPromoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
